.all-article {
    height: 100px;
    position: relative;
    border-bottom: 4px solid #000;
}

.all-article h3 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}

.article-part table tr {
    height: 50px;
    font-size: 24px;
}

.article-part table td {
    text-overflow: ellipsis;
}

.article-part .number {
    width: 200px;
}

.article-part .title {
    width: 500px;
}

.article-part .time {
    width: 200px;
}